<div class="container">
  <h1>Checkout Summary</h1>
  
  <br>
  <h2>Total Amount: <%= @humanized_total_amount %></h2>
  <%unless @order.payment_currency == "jpy"%>
    <p id="sub-currency-total">Amount in Yen: <%= humanized_money_with_symbol(@order.checkout_amount_cents) %></p>
  <%else%>
  <%end%>

  <button id="pay" class="btn btn-primary">Pay with Stripe Checkout</button>
  <div id="error-message"></div>

  <script>
    const paymentButton = document.getElementById('pay');
    paymentButton.addEventListener('click', (event) => {
        const stripe = Stripe('<%= ENV['STRIPE_PUBLISHABLE_KEY'] %>');
        stripe.redirectToCheckout({
            sessionId: '<%= @order.checkout_session_id %>'
        }).then((result) => {
            displayError(result);
        });
    });

    function displayError(errorMessage) {
        const displayError = document.getElementById("error-message");
        displayError.textContent = errorMessage;
    }
  </script>
</div>