.navbar-lewagon {
  justify-content: space-between;
  background: #f8f8f8;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.save-card-btn-margin　{
  margin-left: 500px;
}